.buttomHome {
  margin: 20px;
  padding: 10px;
  background-color: rgb(255,160,122);
  border: 1px solid black;
  border-radius: 30%;
  color: white;
}
.card_list {
  display: flex;
  flex-direction: row;
  width: 450px;
  list-style: none;
  margin: 0 auto;
  background-color: rgb(255,160,122);
  color: white;
}
.card__poster {
  width: 150px;
  height: 250px;
}
.card_details {
  width: 300px;

  .card__name {
    padding: 20px 0px 20px;
    text-align: center;
  }
  .card__house{
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
  }
  .card__birthday {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
  }
  .card__alive {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    &.dead {
      color: grey;
    }
  }
  .card__patronus {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
  }
}
