.buttomHome {
  margin: 20px;
  padding: 10px;
  background-color: lightsalmon;
  border: 1px solid black;
  border-radius: 30%;
  color: white; }

.card__container {
  display: flex;
  flex-direction: row;
  width: 500px;
  list-style: none;
  margin: 0 auto;
  background-color: lightsalmon;
  color: white;
  border: 1px solid black; }
  .card__container .card__image-container {
    height: 290px;
    width: 214px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; }
    .card__container .card__image-container .card__poster {
      width: 0px;
      height: 0px; }

.card_details {
  width: 300px; }
  .card_details .card__name {
    padding: 20px 0px 20px;
    text-align: center; }
  .card_details .card__house {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px; }
  .card_details .card__birthday {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px; }
  .card_details .card__alive {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px; }
    .card_details .card__alive.dead {
      color: grey; }
  .card_details .card__patronus {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px; }
