.peopleContainer {
  display: inline-block;
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
    border: 1px solid black;
    background-color: rgb(255,160,122);
    margin-bottom: 20px;
  }
  .name {
    color: white;
    padding-bottom: 30px;
    font-size: 18px;
  }
  .poster {
    width: 250px;
    height: 350px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .house {
    color: white;
    padding-bottom: 10px;
  }
}
@media all and (min-width:768px) and (max-width:1090px) {
  .peopleContainer {
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 20px;
    width: 640px;
    margin: 0 auto;
    .poster {
      width: 200px;
      height: 280px;
    }
    .list {
      margin-bottom: 0px;
    }
  }
}
@media all and (min-width:1090px) {
  .peopleContainer {
    display:grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 30px;
    width: 1090px;
    margin: 0 auto;
    .list {
      margin-bottom: 0px;
    }
  }
}
